<%= render "shared/header" %>

<body class="bg-white">
  <div class="flex items-center p-4 space-x-2">
    <%= render "shared/sidebar" %>
    <% if current_user && current_user.own?(@recipe) %>
      <%= link_to "編集", edit_recipe_path(@recipe), class: " border border-gray-300 rounded px-4 py-1" %>
      <%= link_to recipe_path(@recipe), data: { turbo_method: :delete, turbo_confirm: ('レシピを削除しますか？') } do %>
        <span class="material-symbols-outlined text-gray-600 border border-gray-300 rounded px-2 py-1">delete</span>
      <% end %>
    <% end %>
  </div>

  <% if @recipe.main_image.attached? %>
    <div class="overflow-hidden rounded mx-[20px]">
      <%= image_tag @recipe.main_image, class: "w-full h-[220px] object-cover" %>
    </div>
  <% end %>

  <div class="px-4 py-2 font-bold text-lg text-gray-600">
    <%= @recipe.title %>
  </div>

  <div class="px-6 py-2">
    <div class="font-bold text-gray-600">タグ</div>
    <% if @recipe.tag_list.present? %>
      <% @recipe.tag_list.each do |tag| %>
        <span class="bg-amber-500 text-gray-700 badge badge-info mr-1 mb-1 text-white rounded ">
          <%= tag %>
        </span>
      <% end %>
    <% end %>
  </div>

  <div class="grid grid-cols-2 gap-4 px-6 py-2">
    <div>
      <div class="font-bold text-gray-600">予熱</div>
      <div>
        <% if @recipe.preheat_temperature.present? && @recipe.preheat_time.present? %>
          <%= @recipe.preheat_temperature %> °C
          <%= @recipe.preheat_time %> 分
        <% else %>
          なし
        <% end %>
      </div>
    </div>
    <div>
      <div class="font-bold text-gray-600">調理時間・温度</div>
      <div>
        <% @recipe.heats.each do |heat| %>
          <div>
            <%= heat.temperature %> °C
            <%= heat.time %> 分
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="py-2">
    <div class="px-6 font-bold text-gray-600">機種</div>
    <div class="px-6 py-1">
      <%= @recipe.model %>
    </div>
  </div>

  <div class="py-2">
    <div class="px-6 font-bold text-gray-600">材料</div>
    <div class="px-6 py-1">
      <% @recipe.ingredients.each do |ingredient| %>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <%= ingredient.name %>
          </div>
          <div>
            <%= ingredient.quantity %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="py-2">
    <div class="px-6 font-bold text-gray-600">作り方</div>
    <div class="px-6 py-1">
      <% @recipe.instructions.each do |instruction| %>
        <div class="py-1">
          <%= instruction.step_number %>
          <%= instruction.description %>
          <% if instruction.image.attached? %>
            <%= image_tag instruction.image, class: "w-[160px] h-[100px] rounded w-[160px] h-[100px] object-cover" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="py-2">
    <div class="px-6 font-bold text-gray-600">ポイント</div>
    <div class="px-6 py-1">
      <%= @recipe.point %>
    </div>
  </div>

    <div class="py-2">
    <div class="px-6 font-bold text-gray-600">参考url</div>
    <div class="px-6 py-1">
      <% @recipe.embeds.each do |embed| %>
        <% if embed.kind == "website" %>
          <%= link_to embed.safe_url.to_s, target: "_blank", rel: "noopener noreferrer", class: "block w-full max-w-sm rounded-lg shadow-md overflow-hidden border border-gray-300 bg-white" do %>
            <div >
              <% if embed.ogp_image_url.present? %>
                <div >
                  <img src="<%= embed.ogp_image_url %>" alt="OGP Image" class="w-full h-full object-cover">
                </div>
              <% end %>
              <div class=" p-2">
                <p class="text-xs text-gray-600 font-semibold"><%= embed.ogp_site_name.presence || "" %></p>
                <p class="text-sm font-bold line-clamp-2"><%= embed.ogp_title.presence || "" %></p>
                <p class="text-xs text-gray-500 line-clamp-2"><%= embed.ogp_description.presence || "" %></p>
              </div>
            </div>
          <% end %>
        <% elsif embed.kind == "youtube" %>
          <%= content_tag 'iframe', nil, src: "https://www.youtube.com/embed/#{embed.embed_type}" %>
        <% elsif embed.kind == "instagram" %>
          <%= sanitize(embed.embed_type, tags: %w[blockquote a], attributes: %w[class data-instgrm-permalink data-instgrm-version href]) %>
          <script async src="https://www.instagram.com/embed.js"></script>
        <% end %>
      <% end %>
    </div>
  </div>

  <script>
    document.addEventListener("turbo:load", function() {
      if (window.instgrm) {
        instgrm.Embeds.process();
      }
    });
  </script>
</body>


