<body class="bg-white">
  <div class="flex items-center p-6 space-x-4">
    <%= render "shared/sidebar" %>
  </div>
  <div class="flex items-center justify-between">
    <h1 class="text-2xl font-bold px-6 text-gray-600">新規登録</h1>
  </div>

  <div class="px-6 py-1">
    <%= form_with model: @user, local: true do |f| %>
      <div class="mt-6 space-y-2">
        <%= f.label :name, class: "block text-sm text-gray-600" %>
        <%= f.text_field :name, class: "input input-bordered w-full" %>
      </div>
      <div class="mt-6 space-y-2">
        <%= f.label :email, class: "block text-sm text-gray-600" %>
        <%= f.email_field :email, class: "input input-bordered w-full" %>
      </div>
      <div class="mt-6 space-y-2">
        <%= f.label :password, class: "block text-sm text-gray-600" %>
        <%= f.password_field :password, class: "input input-bordered w-full" %>
      </div>
      <div class="mt-6 space-y-2">
        <%= f.label :password_confirmation, class: "block text-sm text-gray-600" %>
        <%= f.password_field :password_confirmation, class: "input input-bordered w-full" %>
      </div>
      <hr class="border-t border-gray-500 border-2 my-6 px-6">
      <div class="btn w-full bg-amber-500 text-white">
        <%= f.submit "登録" %>
      </div>
    <% end %>
    <div class="text-sm underline mt-4 text-center text-gray-600">
      <%= link_to 'ログインページ', login_path %>
    </div>
  </div>
</body>
