<%= render "shared/header" %>

<body class="bg-white">
  <div class="flex items-center p-4 space-x-4">
    <%= render "shared/sidebar" %>
    <%= search_form_for @q, url: root_path do |f| %>
      <div data-controller="autocomplete" data-autocomplete-url-value="<%= autocomplete_path %>">
        <%= f.search_field :tags_name_or_title_cont_any,
            data: {
              autocomplete_target: "input",
              action: "input->autocomplete#search"
            },
            placeholder: "タグ,レシピ名から検索",
            class: "flex-1 border border-gray-300 rounded px-4 py-1 w-64",
            autocomplete: "off" %>
            <%= f.submit "検索", class: "bg-amber-500 text-white rounded px-4 py-1" %>
        <input type="hidden" name="recipe_id" data-autocomplete-target="hidden"/>
        <ul data-autocomplete-target="results" class="list-group bg-orange-50 text-gray-400 text-xs w-64 rounded fixed z-30" ></ul>
      </div>
    <% end %>
  </div>

  <% if @recipes.empty? %>
    <div class="text-center text-gray-500 mt-2">
      該当レシピがありませんでした
    </div>
  <% end %>

  <!-- レシピ一覧 -->
  <div class="grid grid-cols-2 gap-2 mx-[20px]">
    <% @recipes.each do |recipe| %>
      <div class="relative bg-orange-200 rounded w-full h-[130px]">
        <% if recipe.main_image.attached? %>
          <%= link_to image_tag(recipe.main_image, class: "w-full h-[130px] object-cover rounded" ), recipe_path(recipe) %>
        <% else %>
            <%= link_to "", recipe_path(recipe), class: "w-full h-[130px] flex items-center justify-center text-white font-bold" %>
        <% end %>
        <div class="absolute bottom-2 left-2 text-white font-bold text-sm">
          <%= link_to recipe.title, recipe_path(recipe) %>
        </div>
      </div>
    <% end %>
  </div>
</body>
