<body class="bg-white">
  <div class="w-full max-w-sm">
    <div class="flex items-center justify-between">
      <%= render "shared/sidebar" %>
      <h1 class="text-2xl font-bold">ログイン</h1>
    </div>

    <%= form_with url: login_path do |f| %>
      <div>
        <%= f.label :email, class: "block text-sm" %>
        <%= f.email_field :email, class: "input input-bordered w-full" %>
      </div>
      <div>
        <%= f.label :password, class: "block text-sm" %>
        <%= f.password_field :password, class: "input input-bordered w-full" %>
      </div>
      <button class="btn w-full bg-orange-600 text-white">ログイン</button>
    <% end %>

    <div class="mt-4">
      <div class="flex justify-between">
        <button class="btn btn-outline">
          <%= link_to '新規登録', new_user_path %>
        </button>
        <button class="btn btn-outline">パスワードを忘れましたか？</button>
      </div>
    </div>
  </div>
</body>
